@import "../../SCSS//global.scss";
@import "../../SCSS/global.scss";

.interests {
  background-image: radial-gradient(#9ca3be, $secondary-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    z-index: 2;
    margin-top: -50%;
    font-size: 50px;
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 450px;
    display: flex;
    position: absolute;
    left: 0;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 800px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        // flex-direction: column;

        .left {
          flex: 6;
          height: 100%;
        }

        h2 {
          color: #000;
        }
        .right {
          flex: 6;
          height: 100%;
          background-color: blue;
        }
      }
    }
  }
}
