@import "../../SCSS//global.scss";
@import "../../SCSS/global.scss";

.interests {
  background-color: #2e3140;
  color: black;
  position: relative;

  h1 {
    font-size: 30px;
    margin-top: 50px;
    font-weight: 300;
    overflow-y: hidden;
    text-align: center;
  }

  .interests-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;

    .content {
      display: flex;
      width: 40%;
      margin: 20px;
      box-shadow: 1px 1px 12px #2c2d32;
      cursor: pointer;

      .left {
        flex: 1;
        height: 25vh;
        background-color: #252734;
        overflow-y: hidden;

        img {
          width: 110%;
          object-fit: cover;
          transition: 1s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .right {
        flex: 1;
        height: 25vh;
        color: black;
        width: 50%;
        background-color: #252734;
        padding: 20px;

        transition: 1s ease-in-out;
        &:hover {
          background-color: #3c3f52;
        }
        h2 {
          font-size: 15px;
        }
        p {
          font-size: 11px;
          text-align: justify;
        }
      }
    }
  }
}

.custom-shape-divider-bottom-1668258696 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668258696 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1668258696 .shape-fill {
  fill: #ffffff;
}

@import "../../SCSS/mobile";
