@import "../../SCSS/global.scss";
.portfolio {
  background-color: #2e3140;
  h1 {
    font-size: 30px;
    margin-top: 50px;
    font-weight: 300;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;

    .card {
      background-color: #252734;
      width: 500px;
      height: 300px;
      margin: 10px;
      border-radius: 20px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid #51546c;
      transition: all 1s ease-in-out;
      box-shadow: 0 0 10px 0 #51546c;

      .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 1;
      }

      h3 {
        position: absolute;
        font-size: 25px;
        margin-top: -90px;
      }

      .buttons {
        position: absolute;
        display: flex;
        bottom: 80px;
        margin-bottom: 40px;

        button {
          width: 150px;
          background: transparent;
          color: white;
          border: 1px solid white;
          border-radius: 20px;
          padding: 10px;
          cursor: pointer;
          font-size: 10px;
          font-weight: 500;
          margin: 0px 10px;
          transition: all 1s ease;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
      &:hover {
        background-color: black;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
