@import "../../SCSS/global.scss";
.portfolio {
  background-color: #2e3140;

  h1 {
    font-size: 30px;
    margin-top: 50px;
    font-weight: 300;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    grid-gap: 20px;
    padding-bottom: 100px;

    .card {
      background-color: #252734;
      border: 1px solid #51546c;
      box-shadow: 0 0 10px 0 #51546c;
      border-radius: 20px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
      transition: all 1s ease-in-out;
      cursor: pointer;
      .container {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

        img {
          width: 100%;
          display: block;
          border-radius: 20px 20px 0 0;
        }
      }
      .details {
        padding-left: 10px;
        padding-bottom: 20px;

        h3 {
          font-size: 20px;
          font-weight: 300;
          margin: 10px;
        }

        button {
          width: 110px;
          background: transparent;
          color: white;
          border: 1px solid white;
          border-radius: 20px;
          padding: 10px;
          cursor: pointer;
          font-size: 10px;
          font-weight: 500;
          margin: 0px 10px;
          transition: all 1s ease;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
      &:hover {
        background-color: #101116;
      }
    }
  }
}
