@media all and (max-width: 1125px) {
  .banner {
    .left {
      .img-content {
        width: 450px;
        height: 450px;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .about {
    .container {
      .item {
        .text {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .banner {
    display: flex;
    flex-direction: column;
    .left {
      .img-content {
        height: 300px;
        width: 300px;
      }
    }

    .right {
      justify-content: flex-start;
      .titles {
        h1 {
          font-size: 40px;
        }

        h3 {
          font-size: 20px;
        }
      }
      .buttons {
        margin-top: 15px;
        .btn {
          width: 150px;
          padding: 10px;
        }
      }
    }
    .custom-shape-divider-bottom svg {
      display: none;
    }
  }
  .about {
    .container {
      margin-bottom: 50px;
      .item {
        flex-direction: column;
        .text {
          p {
            font-size: 17px;
          }
        }
      }
    }
  }

  .contact {
    flex-direction: column;

    .left {
      display: none;

      img {
        display: none;
      }
    }
    .right {
      background: linear-gradient(rgba(29, 30, 38, 0.9), rgba(29, 30, 38, 0.9)),
        url("../../public/assets/contact2.png");
      background-size: cover;
      background-position: top;
      flex: 2;

      h2 {
        color: white;
      }

      form {
        input {
          background: transparent;
          border: 2px solid white;
          color: white;

          &::placeholder {
            color: white;
          }
        }

        textarea {
          background: transparent;
          border: 2px solid white;
          outline: none;
          color: white;

          &::placeholder {
            color: white;
          }
        }

        button {
          background: transparent;
          border: 2px solid white;
          color: white;

          &:hover {
            background: white;
            color: black;
          }
        }
      }
    }
  }
}

@media all and (max-width: 420px) {
  .navbar {
    .wrapper {
      .left {
        .logo {
          font-size: 25px;
        }
      }
    }
  }

  .contact {
    .right {
      form {
        input {
          width: 350px;
        }

        textarea {
          width: 350px;
        }
      }
    }
  }
}

@media all and (max-width: 395px) {
  .banner {
    .left {
      .img-content {
        height: 250px;
        width: 250px;
      }
    }
    .right {
      .titles {
        h1 {
          font-size: 30px;
        }
      }
      .buttons {
        .btn {
          width: 120px;
        }
      }
    }
  }

  .contact {
    .right {
      form {
        input {
          width: 290px;
        }

        textarea {
          width: 290px;
        }
      }
    }
  }
}

@media all and (max-width: 295px) {
  .navbar {
    .wrapper {
      .left {
        .logo {
          font-size: 18px;
        }
      }
    }
  }

  .banner {
    .left {
      .img-content {
        height: 200px;
        width: 200px;
      }
    }
    .right {
      .titles {
        h1 {
          font-size: 25px;
        }

        h3 {
          font-size: 18px;
        }
      }
      .buttons {
        margin-top: 12px;
        .btn {
          width: 150px;
          margin-top: 10px;
        }
      }
      .socials {
        margin: 20px;
      }
    }
  }

  .about {
    .about-container {
      .text-container {
        p {
          font-size: 11px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .portfolio {
    .cards {
      padding: 0;
      .card {
        .details {
          h3 {
            font-size: 15px;
          }
          .buttons {
            button {
              width: 80px;
              padding: 8px;
            }
          }
        }
      }
    }
  }

  .contact {
    .right {
      form {
        input {
          width: 220px;
        }

        textarea {
          width: 220px;
        }
      }
    }
  }
}
