@media all and (max-width: 1366px) {
  .banner {
    .left {
      overflow-y: hidden;
      .img-content {
        height: 450px;
        width: 450px;
        margin-top: 120px;
      }
    }
    .right {
      .titles {
        margin-top: -50px;
      }
    }

    .custom-shape-divider-bottom {
      width: 110%;
    }

    .custom-shape-divider-bottom svg {
      height: 100px;
    }
  }

  .portfolio {
    .container {
      .item {
        width: 300px;
      }
    }
  }

  .services {
    .wrapper {
      .first {
        .first-content {
          display: flex;
          padding: 0;
          padding-left: 50px;
          padding-top: 20px;

          flex-direction: column;
          img {
            width: 60px;
          }
        }
      }
      .second {
        .first-content {
          display: flex;
          padding: 0;
          padding-left: 50px;
          padding-top: 20px;

          flex-direction: column;
          img {
            width: 60px;
          }
        }
      }

      .third {
        .first-content {
          display: flex;
          padding: 0;
          padding-left: 50px;
          padding-top: 20px;

          flex-direction: column;
          img {
            width: 60px;
          }
        }
      }
    }
  }

  .interests {
    .custom-shape-divider-bottom-1668258696 svg {
      height: 50px;
    }
  }

  .contact {
    .left {
      img {
        width: 80%;
      }
    }
  }
}

////////!! 1280px

@media all and (max-width: 1280px) {
  .banner {
    .custom-shape-divider-bottom {
      width: 110%;
    }

    .custom-shape-divider-bottom svg {
      height: 150px;
    }
  }

  .interests {
    .custom-shape-divider-bottom-1668258696 svg {
      height: 50px;
    }
  }

  .contact {
    .left {
      img {
        width: 100%;
      }
    }

    .right {
      padding-top: 50px;
    }
  }
}
@media all and (max-width: 1024px) {
  .banner {
    .left {
      .img-content {
        height: 400px;
        width: 400px;
      }
    }

    .right {
      .titles {
        h1 {
          font-size: 40px;
        }

        h3 {
          font-size: 20px;
        }
      }
      .buttons {
        .btn {
          width: 150px;
          padding: 10px;
        }
      }

      .socials {
        .circle {
          height: 45px;
          width: 45px;

          i {
            font-size: 25px;
          }
        }
      }
    }
    .custom-shape-divider-bottom {
      width: 100%;
    }

    .custom-shape-divider-bottom svg {
      height: 80px;
    }
  }
  .about {
    .about-content {
      .right {
        p {
          font-size: 13px;
        }
      }
    }
  }

  .portfolio {
    h1 {
      margin: 25px 0px;
    }

    .container {
      .item {
        width: 200px;
      }
    }
  }

  .services {
    .wrapper {
      .first {
        .first-content {
          padding-top: 10px;

          h2 {
            font-size: 18px;
          }

          ul {
            li {
              font-size: 15px;
            }
          }

          img {
            width: 50px;
          }
        }
      }
      .second {
        .first-content {
          padding-top: 10px;

          h2 {
            font-size: 18px;
          }

          ul {
            li {
              font-size: 15px;
            }
          }

          img {
            width: 50px;
          }
        }
      }

      .third {
        .first-content {
          padding-top: 10px;

          h2 {
            font-size: 18px;
          }

          ul {
            li {
              font-size: 15px;
            }
          }

          img {
            width: 50px;
          }
        }
      }
    }
  }
  .interests {
    .interests-content {
      .content {
        .right {
          p {
            font-size: 8px;
          }
        }
      }
    }
  }
}

//!! 1000px
@media all and (max-width: 1000px) {
  .banner {
    display: flex;
    flex-direction: column;
    .left {
      .img-content {
        margin: 0;
        height: 550px;
        width: 550px;

        .img-content-background {
          height: 90%;
          width: 90%;
        }
      }
    }

    .right {
      justify-content: flex-start;
      .titles {
        margin-top: 20px;
        h1 {
          font-size: 50px;
        }

        h3 {
          font-size: 30px;
        }
      }
      .buttons {
        .btn {
          width: 200px;
          padding: 10px;
        }
      }

      .socials {
        .circle {
          height: 50px;
          width: 50px;

          i {
            font-size: 30px;
          }
        }
      }
    }
    .custom-shape-divider-bottom {
      width: 120%;
    }

    .custom-shape-divider-bottom svg {
      height: 250px;
    }
  }
  .about {
    .about-content {
      display: flex;
      flex-direction: column;
      .left {
        .img {
          img {
            width: 110%;
          }
        }
      }

      .right {
        padding: 0px 50px;

        p {
          font-size: 20px;
        }
      }
    }
  }

  .portfolio {
    h1 {
      margin: 25px 0px;
    }

    .container {
      align-items: flex-start;
      justify-content: flex-start;

      flex-direction: column;
      .item {
        width: 400px;
      }
    }
  }

  .services {
    h1 {
      padding-bottom: 20px;
    }
    .wrapper {
      flex-direction: column;
      width: 100%;
      margin: 0;
      .first {
        overflow: hidden;
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }
      .second {
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }

      .third {
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }
    }
  }

  .interests {
    .interests-content {
      flex-direction: column;

      width: 100%;
      .content {
        width: 80%;

        height: 15vh;
        overflow: hidden;

        .right {
          h2 {
            font-size: 20px;
            padding-bottom: 10px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  .contact {
    flex-direction: column;

    .left {
      img {
        width: 40%;
      }
    }

    .right {
      flex: 1.5;

      justify-content: flex-start;

      form {
        textarea {
          height: 200px;
        }
      }
    }
  }
}

//!!! 900px

@media all and (max-width: 900px) {
  .banner {
    .left {
      .img-content {
        height: 490px;
        width: 490px;
      }
    }
    .custom-shape-divider-bottom svg {
      height: 150px;
    }
  }

  .portfolio {
    h1 {
      margin: 25px 0px;
    }

    .container {
      align-items: center;
      flex-direction: column;
      .item {
        width: 350px;
      }
    }
  }
}
//!!! ------------------800px-------------------
@media all and (max-width: 800px) {
  .banner {
    .left {
      .img-content {
        height: 400px;
        width: 400px;
      }
    }
    .custom-shape-divider-bottom svg {
      height: 150px;
    }
  }
  .portfolio {
    ul {
      // margin-top: 20px;
    }

    .container {
      margin-top: 50px;
      align-items: center;
      flex-direction: column;
      .item {
        width: 300px;
      }
    }
  }

  .portfolioList {
    background-color: red;
  }

  .services {
    .wrapper {
      flex-direction: column;
      width: 100%;
      margin: 0;

      .first {
        overflow: hidden;
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }
      .second {
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }

      .third {
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }
    }
  }

  .interests {
    .interests-content {
      flex-direction: column;

      width: 100%;
      .content {
        width: 80%;

        height: 15vh;
        overflow: hidden;

        .right {
          h2 {
            font-size: 20px;
            padding-bottom: 10px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .contact {
    flex-direction: column;

    .left {
      img {
        width: 40%;
      }
    }

    .right {
      flex: 1.5;

      justify-content: flex-start;

      form {
        textarea {
          height: 200px;
        }
      }
    }
  }
}

//!!!----------------595--------

@media all and (max-width: 595px) {
  .banner {
    .left {
      .img-content {
        height: 250px;
        width: 250px;
      }
    }

    .right {
      flex: 0.7;
      .titles {
        margin-top: 10px;
        h1 {
          font-size: 35px;
        }

        h3 {
          font-size: 20px;
        }
      }
      .buttons {
        margin-top: 20px;
        .btn {
          width: 150px;
        }
      }
      .socials {
        .circle {
          width: 40px;
          height: 40px;

          i {
            font-size: 20px;
            padding-top: 10px;
          }
        }
      }
    }
    .custom-shape-divider-bottom svg {
      height: 90px;
    }
  }

  //!! stoped here
  .about {
    .about-content {
      .left {
        flex: 0.2;
      }
      .right {
        // flex: 0.2;
        p {
          // font-size: 12px;
        }
      }
    }
  }
  .portfolio {
    ul {
      // margin-top: 20px;
    }

    .container {
      margin-top: 50px;
      align-items: center;
      flex-direction: column;
      .item {
        width: 300px;
      }
    }
  }

  .portfolioList {
    background-color: red;
  }

  .services {
    .wrapper {
      flex-direction: column;
      width: 100%;
      margin: 0;

      .first {
        overflow: hidden;
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }
      .second {
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }

      .third {
        .first-content {
          padding-top: 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
          }

          h2 {
            font-size: 30px;
          }

          ul {
            padding: 40px;
          }
        }
      }
    }
  }

  .interests {
    .interests-content {
      flex-direction: column;

      width: 100%;
      .content {
        width: 80%;

        height: 15vh;
        overflow: hidden;

        .right {
          h2 {
            font-size: 20px;
            padding-bottom: 10px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .contact {
    flex-direction: column;

    .left {
      img {
        width: 40%;
      }
    }

    .right {
      flex: 1.5;

      justify-content: flex-start;

      form {
        textarea {
          height: 200px;
        }
      }
    }
  }
}

@media all and (max-width: 395px) {
}

@media all and (max-width: 320px) {
}
