@media all and (max-width: 1280px) {
  .banner {
    .left {
      overflow: hidden;

      .img-content {
        margin-top: 50px;
        height: 450px;
        width: 450px;
      }
    }

    .custom-shape-divider-bottom {
      width: 110%;
    }

    .custom-shape-divider-bottom svg {
      height: 120px;
    }
  }

  .contact {
    .right {
      padding-top: 50px;
    }
  }
}

@media all and (max-width: 1024px) {
  .about {
    .container {
      .item {
        .text {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .banner {
    display: flex;
    flex-direction: column;
    .left {
      .img-content {
        margin: 0;
        height: 350px;
        width: 350px;

        .img-content-background {
          height: 90%;
          width: 90%;
        }
      }
    }

    .right {
      justify-content: flex-start;
      .titles {
        margin-top: 20px;
        h1 {
          font-size: 40px;
        }

        h3 {
          font-size: 20px;
        }
      }
      .buttons {
        margin-top: 15px;
        .btn {
          width: 150px;
          padding: 10px;
        }
      }

      .socials {
        .circle {
          height: 50px;
          width: 50px;

          i {
            font-size: 30px;
          }
        }
      }
    }
    .custom-shape-divider-bottom svg {
      height: 55px;
    }
  }
  .about {
    .container {
      margin-bottom: 50px;
      .item {
        flex-direction: column;
        .text {
          p {
            font-size: 17px;
          }
        }
      }
    }
  }

  .contact {
    flex-direction: column;

    .left {
      img {
        width: 40%;
      }
    }

    .right {
      flex: 1.5;

      justify-content: flex-start;

      form {
        textarea {
          height: 200px;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .banner {
    .custom-shape-divider-bottom svg {
      height: 50px;
    }
  }
  .contact {
    flex-direction: column;

    .left {
      img {
        width: 40%;
      }
    }

    .right {
      flex: 1.5;

      justify-content: flex-start;

      form {
        textarea {
          height: 200px;
        }
      }
    }
  }

  .about {
    .about-content {
      .left {
        .img {
          img {
            width: 100%;
          }
        }
      }

      .right {
        padding: 0px 50px;

        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media all and (max-width: 595px) {
  .contact {
    flex-direction: column;

    .left {
      img {
        width: 40%;
      }
    }

    .right {
      flex: 1.5;

      justify-content: flex-start;

      form {
        textarea {
          height: 200px;
        }
      }
    }
  }

  .contact {
    .right {
      form {
        height: 50vh;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: space-between;

        input {
          margin-bottom: 10px;
        }
        button {
          height: 50px;
        }
      }
    }
  }
}

@media all and (max-width: 420px) {
  .navbar {
    .wrapper {
      .left {
        .logo {
          font-size: 25px;
        }
      }
    }
  }

  .contact {
    .right {
      padding: 0;

      form {
        height: 50%;

        input {
          margin-bottom: 10px;
          width: 300px;
        }
        textarea {
          width: 300px;
        }
      }
    }
  }
}

@media all and (max-width: 395px) {
  .banner {
    .left {
      .img-content {
        height: 300px;
        width: 300px;
      }
    }
    .right {
      .titles {
        h1 {
          font-size: 30px;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;

        .btn {
          margin-bottom: 10px;
        }
      }
      .socials {
        margin-top: 10px;
        .circle {
          height: 50px;
          width: 50px;

          i {
            font-size: 30px;
          }
        }
      }
    }
    .custom-shape-divider-bottom svg {
      height: 20px;
    }
  }

  .contact {
    .right {
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media all and (max-width: 295px) {
  .navbar {
    .wrapper {
      .left {
        .logo {
          font-size: 18px;
        }
      }
    }
  }

  .banner {
    .left {
      .img-content {
        height: 250px;
        width: 250px;
      }
    }
    .right {
      .titles {
        h1 {
          font-size: 25px;
        }
      }
    }
  }

  .contact {
    .right {
      form {
        input {
          width: 200px;
        }
        textarea {
          width: 200px;
        }

        button {
          padding-bottom: 10px;
        }
      }
    }
  }

  .about {
    .about-container {
      .text-container {
        p {
          font-size: 11px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .portfolio {
    .cards {
      padding: 0;
      .card {
        .details {
          h3 {
            font-size: 15px;
          }
          .buttons {
            button {
              width: 80px;
              padding: 8px;
            }
          }
        }
      }
    }
  }
}
