@import "../../SCSS/global.scss";
.about {
  background-color: white;
  padding-top: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
  }

  .about-container {
    width: 85%;
    min-height: 60vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 18px #1a1c23;
    padding: 20px;
    border-radius: 5px;

    .image-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 500px;
        height: 400px;
        object-fit: cover;
      }
    }
    .text-container {
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: black;
        font-size: 16px;
        padding-bottom: 10px;
        text-align: justify;
      }

      .btn {
        width: 150px;
        color: rgb(255, 255, 255);
        background-color: #3c3d42;
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
        border-radius: 20px;
        transition: all 1s ease-in-out;
        cursor: pointer;
        margin-bottom: 10px;
        outline: none;

        &:hover {
          background-color: transparent;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}

@import "../../SCSS/mobile";
