@import "../../SCSS/global.scss";
.about {
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  color: black;

  h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .container {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 18px #1a1c23;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin: auto;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        flex: 1;
        img {
          width: 100%;
        }
      }
      .text {
        flex: 1;
        padding: 20px;

        p {
          font-size: 16px;
          padding: 6px 10px;
          color: black;
        }
      }
    }
  }
}

@import "../../SCSS/mobile";
