@import "../../SCSS/global.scss";
.about {
  background-color: white;
  padding-top: 30px;

  h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
  }

  .about-content {
    display: flex;
    margin: 20px 50px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 1px 5px 18px #1a1c23;

    p {
      color: black;
    }

    .left {
      flex: 0.5;
    }
    .right {
      flex: 0.5;
      padding: 50px 20px;

      p {
        padding: 5px 20px;
        text-align: justify;
      }
    }
  }
}
